@import url('https://fonts.googleapis.com/css?family=Barlow:400,700,900|Lato:300,400,700');


/* GENERAL */

.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body p,
table {
  font-family: 'Lato', sans-serif;
  margin-bottom: 24px !important;
}
.main h1,
.main .big-title,
.main .title,
.main .contentheader__title,
#navigation,
#navigation-root,
.navigation__item.navigation__item--level-0.navigation__item--children,
.navigation__tree.navigation__tree--level-1,
.navigation__item--level-1 .navigation__link,
.navigation__item--level-0 .navigation__link{
  font-family: 'Barlow', sans-serif;
}
.main .title{
  font-size: 20px;
  line-height: 22.5px;
  color: #000000;
  font-weight: 900;
}
.main .big-title{
  font-size: 46px;
  font-weight: 900;
  line-height: 51px;
  color: #2a2a2a;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.main .red{
  color: #DA291B;
}
hr {
  border: 1px solid #f4f4f4 !important;
  margin-bottom: 16px !important;
}
.center-image{
  text-align: center;
  margin: 48px 0;
}
.center-image img{
  max-width: 600px;
}
.main .medium img{
  width: 350px;
  margin-bottom: 48px;
}
.subtitle{
  margin-bottom: 24px;
}
.main .large img{
  width: 633px;
}

/* HEADER */

.topbar {
  background-color: #FBFBFB;
  border-bottom: solid 1px #D8D8D8;
  height: 72px;
}
input.topbar__searchfield {
    border-radius: 20px;
    border: solid 1px #D8D8D8;
}
a.topbar__home{
  color: #2F3542;
  font-family: 'Barlow', sans-serif;
  font-size: 24px;
  font-weight: normal;
  margin-left: 16px;
}

/* NAV */

#navigation,
#navigation-root,
.navigation__item.navigation__item--level-0.navigation__item--children,
.navigation__tree.navigation__tree--level-1,
.navigation__item--level-1 .navigation__link,
.navigation__item--level-0 .navigation__link{
  background-color: #ffffff;
}
#navigation{
  border-right: solid 1px #D8D8D8;
}
.navigation__item--level-0 .navigation__link{
  text-transform: uppercase;
  font-weight: 600;
}
.navigation__item--level-1 .navigation__link{
  text-transform: none;
  font-weight: 400;
}
.navigation__item.navigation__item--level-1 a{
  color: #2F3542;
}
.navigation__item--level-0 .navigation__link,
.icon.navigation__icon{
  color: #DA291B;
}
.icon.navigation__icon{
  fill: #DA291B;
}

.navigation__link[href]:focus,
.navigation__link[href]:hover {
  color: #F9423A;
}
.navigation__link[href]:active,
.navigation__item--current>.navigation__link{
  color: #2F3542;
  font-weight: 600;
  border-left-color: #F9423A;
}
.topbar__toggle--menu{
  background-color:#DA291B;
  height: 72px;
  padding: 0 36px;
  display: inline-block;
}
.icon.topbar__icon {
    display: none;
}
button.topbar__toggle.topbar__toggle--menu::after {
    content: "";
    display: inline-block;
    width: 21.33px;
    height: 32px;
    background-image: url('http://thonet.realized.es/doc/img/brand/thonet-logo.png');
    background-size: cover;
    position: relative;
    left: -11px;
}


/* LISTS */


.item-list{
  min-height: 192px;
  margin-bottom: 24px;
}
.half,
.third{
  float: left;
}
.half{
  width: 50%;
}
.third{
  width: 30%;
}
.block-image{
  float: left;
  margin-right: 24px;
}
.no-float{
  float: none;
}
.block-title{
  width: 600px;
}
.default-list {
  list-style: none;
}
.default-list li{
  margin-bottom: 24px;
}
.default-list li::before{
  content:"";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #F9423A;
  border: none;
  border-radius: 50%;
  left: 0;
  position: relative;
  margin-right: 16px;
}
.small{
  width: 300px;
}
